---
interface Props {
  href?: string;
  text: string;
  type?: 'submit' | 'button';
}

const { href, text, type = 'submit' } = Astro.props;
---

{href ? (
  <a href={href} class="btn btn--primary">{text}</a>
) : (
  <button type={type} class="btn btn--primary">{text}</button>
)}
