---
// Divisore tra sezioni: banda colorata + barra accent olive
---

<div class="section-divider">
  <div class="section-divider__band"></div>
</div>

<style>
.section-divider__band {
  background-color: var(--color-cream);
  height: 70px;
}

</style>