---
// Divisore tra sezioni: banda colorata + barra accent olive
---

<div class="section-divider">
  <div class="section-divider__band"></div>
  <div class="container">
    <div class="section-divider__bar"></div>
  </div>
</div>

<style>
.section-divider__band {
  background-color: var(--color-cream);
  height: 70px;
}

.section-divider__bar {
  height: 10px;
  width: 60px;
  background-color: var(--color-olive);
}
</style>
